# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build
/dist

# local environment files
.env
.env.*
!.env.example

# testing and coverage
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/tmp/

# operating systems and editors
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
